:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

/*
 * Hack Nerd Font Family
 * Font: Hack Nerd
 * Source: https://www.nerdfonts.com/
 */

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Hack Nerd Font Mono", monospace;
  height: 100dvh;
  background-color: var(--nord0);
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#nav-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    border: 1px solid var(--nord3);
    padding: 0.75rem;
    position: relative;
    color: var(--nord4);

    &:hover {
      border-color: var(--nord9);
    }

    .nav-label {
      font-weight: bold;
      font-size: 0.8rem;
      background-color: var(--nord0);
      position: absolute;
      top: -0.5rem;
      left: 1rem;
    }
    .nav-position {
      font-style: italic;
      font-size: 0.7rem;
      position: absolute;
      background-color: var(--nord0);
      right: 1rem;
      bottom: -0.5rem;
    }
  }
}

#home-nav {
  div {
    font-size: 0.9rem;
  }
}

#project-nav {
  flex-grow: 1;
  ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0rem;

    li {
      font-size: 0.9rem;
      cursor: pointer;
      padding: 0.2rem;

      &:hover {
        color: var(--nord7);
        background-color: var(--nord3);
      }
    }
  }
}

#skills-nav {
  div {
    font-size: 0.9rem;
  }
}

#contact-nav {
  div {
    font-size: 0.9rem;
  }
}

#content-section {
  /* todo: add better scroll styling */
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--nord3);
  padding: 0.5rem;
  color: var(--nord4);
}

.active-content {
  display: block;
}

.inactive-content {
  display: none;
}

.ascii-header {
  font-size: 0.9rem;
  color: var(--nord8);
}

.divider-dashed {
  border-top: 1px dashed var(--nord3);
  margin: 0.8rem 0;
}

#home-content {
  ul {
    list-style-type: "*";
    padding-left: 0.5rem;

    #name-intro {
      font-weight: bold;
      color: var(--nord8);
    }

    li {
      padding-left: 0.5rem;

      &::marker {
        color: var(--nord11);
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }

  #quote-container {
    #quote {
      border: 1px dashed var(--nord3);
      padding: 1rem;
      font-style: italic;
      color: var(--nord6);
      margin-top: 1rem;
    }
  }

  #galaxy-ascii-art {
    text-align: center;
    font-size: 0.7rem;
    color: var(--nord7);
  }

  #nav-hint {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--nord6);
  }
}

#project-content {
  > div {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    > div {
      position: relative;
      padding: 0.8rem;

      > span:nth-child(1) {
        position: absolute;
        top: -0.7rem;
        left: 0.5rem;
        background-color: var(--nord0);
        color: var(--nord7);
        font-weight: bold;
        padding: 0.2rem;
        font-size: 0.8rem;
      }
    }

    .project-info {
      grid-column: 1 / span 2;
      grid-row: 1/2;
      border: 1px solid var(--nord7);

      .project-hash {
        color: var(--nord13);
      }

      .project-author {
        color: var(--nord15);
      }

      .project-date {
        color: var(--nord8);
      }

      .project-title {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    .project-details {
      grid-column: 1/2;
      grid-row: 2/-1;
      border: 1px solid var(--nord7);
      display: flex;
      flex-direction: column;

      .project-image-container {
        width: 100%;
        aspect-ratio: 16 / 9;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .project-meta {
      grid-column: 2/3;
      grid-row: 2/-1;
      border: 1px solid var(--nord7);

      > p {
        color: var(--nord15);
      }

      > ul {
        list-style-type: "•";
        padding-left: 0px;

        li {
          font-size: 0.9rem;
          margin-bottom: 2px;
          padding-left: 0.5rem;
        }
      }

      .meta-actions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
          border: 1px solid var(--nord7);
          color: var(--nord6);
          padding: 0.3rem;
          text-decoration: none;
        }
      }
    }
  }
}

#skills-content {
  .skills-category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .skills-category {
    border: 1px solid var(--nord3);
    position: relative;

    .skill-category-label {
      font-weight: bold;
      font-size: 0.8rem;
      position: absolute;
      top: -0.5rem;
      left: 0.5rem;
      background-color: var(--nord0);
      color: var(--nord7);
    }

    &:hover {
      border-color: var(--nord10);

      .skill-category-label {
        color: var(--nord10);
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      li {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          color: var(--nord7);
          background-color: var(--nord3);

          :nth-child(1)::before {
            content: "➤";
            color: var(--nord7);
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  #skill-details {
    position: relative;
    display: flex;
    border: 1px solid var(--nord3);
    margin-top: 1rem;
    padding: 0.5rem;

    #skill-details-label {
      position: absolute;
      top: -0.5rem;
      font-size: 0.8rem;
      font-weight: bold;
      left: 0.5rem;
      background-color: var(--nord0);
      color: var(--nord7);
    }

    #skill-overview {
      border-right: 1px dashed var(--nord3);
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      flex-basis: min-content;
      padding: 1rem 4rem;

      :nth-child(1) {
        margin: 0px;
        font-weight: bold;
        font-size: 2.5rem;
        color: var(--nord15);
      }
      :nth-child(2) {
        margin: 0px;
        font-size: 0.8rem;
        font-style: italic;
        color: var(--nord13);
      }
      :nth-child(3) {
        border: 1px solid var(--nord12);
        padding: 0.2rem;
        font-weight: bold;
        font-size: 0.7rem;
        color: var(--nord12);
      }
    }

    #skill-description {
      margin-left: 1rem;
      font-size: 0.9rem;

      p {
        color: var(--nord8);

        span {
          color: var(--nord14);
          font-weight: bold;
        }
      }

      p:nth-child(3) {
        border-left: 2px solid var(--nord15);
        padding-left: 0.5rem;
      }
    }
  }
}

#contact-content {
  table {
    font-size: 0.9rem;
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid var(--nord3);
      padding: 0.5rem;
      text-align: left;
      color: var(--nord4);
    }

    th {
      background-color: var(--nord2);
      color: var(--nord6);
    }

    tr:hover {
      background-color: var(--nord3);
    }

    td {
      a {
        color: var(--nord7);
        font-weight: bold;

        &:hover {
          color: var(--nord10);
        }
      }
    }
  }
}

#process-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    border: 1px solid var(--nord3);
    padding: 0.5rem;
    position: relative;
    color: var(--nord4);
  }
}
