:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

/*
 * Hack Nerd Font Family
 * Font: Hack Nerd
 * Source: https://www.nerdfonts.com/
 */

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Hack Nerd Font Mono";
  src: url("./assets/fonts/HackNerdFontMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Hack Nerd Font Mono", monospace;
  height: 100dvh;
  background-color: var(--nord0);
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

#nav-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > div {
    border: 1px solid var(--nord3);
    padding: 0.75rem;
    position: relative;
    color: var(--nord4);

    &:hover {
      border-color: var(--nord9);
    }

    .nav-label {
      font-weight: bold;
      font-size: 0.8rem;
      background-color: var(--nord0);
      position: absolute;
      top: -0.5rem;
      left: 1rem;
    }
    .nav-position {
      font-style: italic;
      font-size: 0.7rem;
      position: absolute;
      background-color: var(--nord0);
      right: 1rem;
      bottom: -0.5rem;
    }
  }
}

#home-nav {
  div {
    font-size: 0.9rem;
  }
}

#project-nav {
  flex-grow: 1;
  ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0rem;

    li {
      font-size: 0.9rem;
      cursor: pointer;
      padding: 0.2rem;

      &:hover {
        color: var(--nord7);
        background-color: var(--nord3);
      }
    }
  }
}

#skills-nav {
  div {
    font-size: 0.9rem;
  }
}

#contact-nav {
  div {
    font-size: 0.9rem;
  }
}

#content-section {
  /* todo: add better scroll styling */
  height: 100%;
  overflow-y: auto;
  border: 1px solid var(--nord3);
  padding: 0.5rem;
  color: var(--nord4);
}

#home-content {
  pre {
    font-size: 0.9rem;
  }

  ul {
    list-style-type: "*";
    padding-left: 0.5rem;

    #name-intro {
      font-weight: bold;
      color: var(--nord8);
    }

    li {
      padding-left: 0.5rem;

      &::marker {
        color: var(--nord11);
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }

  #quote-container {
    #quote {
      border: 1px dashed var(--nord3);
      padding: 1rem;
      font-style: italic;
      color: var(--nord6);
      margin-top: 1rem;
    }
  }

  #galaxy-ascii-art {
    text-align: center;
    font-size: 0.7rem;
    color: var(--nord7);
  }

  #nav-hint {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--nord6);
  }
}

#process-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    border: 1px solid var(--nord3);
    padding: 0.5rem;
    position: relative;
    color: var(--nord4);
  }
}
